# DS 5030 Project 1

### Names: Erin Siedlecki, Shaveen Saadee, Anna Li, Emily Garman, Razan Habboub, Marissa Burton

## Question 1

In [29]:
import pickle, music21, re
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import networkx as nx
import numpy as np

In [30]:
df = pd.read_csv("hf://datasets/ailsntua/Chordonomicon/chordonomicon_v2.csv")
swift = df.query("spotify_artist_id == '06HL4z0CvFAxyc27GXpf02'")

/var/folders/5v/fn650dwj2198gn_4j1ss7r8h0000gn/T/ipykernel_98380/2489596892.py:1: DtypeWarning: Columns (2,3,5,6,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("hf://datasets/ailsntua/Chordonomicon/chordonomicon_v2.csv")

In [35]:
swift.head()

,id,chords,release_date,genres,decade,rock_genre,artist_id,main_genre,spotify_song_id,spotify_artist_id
10794,10795,<verse_1> C Amin F C Amin F C Amin F G C G Ami...,NaN,'pop',NaN,NaN,artist_6080,pop,NaN,06HL4z0CvFAxyc27GXpf02
11295,11296,<intro_1> G Cadd9 G Cadd9 <verse_1> G Cadd9 G ...,2019-12-06,'pop',2010.0,NaN,artist_6080,pop,2mvabkN1i2gLnGAPUVdwek,06HL4z0CvFAxyc27GXpf02
15894,15895,<verse_1> Amin F G Dmin Amin F G Dmin Amin C G...,NaN,'pop',NaN,NaN,artist_6080,pop,NaN,06HL4z0CvFAxyc27GXpf02
16233,16234,<intro_1> Cmaj7 Dsus2 Amin Cmaj7 Dsus2 Amin <v...,2022-10-21,'pop',2020.0,NaN,artist_6080,pop,5jQI2r1RdgtuT8S3iG8zFC,06HL4z0CvFAxyc27GXpf02
18801,18802,<intro_1> Dmin E7 Amin <verse_1> E/Gs C/G Fsdi...,2022-01-21,'pop',2020.0,NaN,artist_6080,pop,3tGq7hWDCtrnL83y5OGual,06HL4z0CvFAxyc27GXpf02

In [36]:
swift.isna().sum()

id                     0
chords                 0
release_date          79
genres                 0
decade                79
rock_genre           185
artist_id              0
main_genre             0
spotify_song_id       35
spotify_artist_id      0
dtype: int64

In [31]:
taylor = pd.read_csv('swift_mapped.csv')
taylor.head()

      id  time chord root  1  2  3  4  5  6  7  8  9  10  11  12
0  10795     1     C    C  1  0  0  0  1  0  0  1  0   0   0   0
1  10795     2  Amin    A  1  0  0  0  1  0  0  0  0   1   0   0
2  10795     3     F    F  1  0  0  0  0  1  0  0  0   1   0   0
3  10795     4     C    C  1  0  0  0  1  0  0  1  0   0   0   0
4  10795     5  Amin    A  1  0  0  0  1  0  0  0  0   1   0   0

In [32]:
taylor['chord'].value_counts()

chord
G         3833
C         3677
D         2288
F         2228
Amin      2168
          ...
Dno3d        2
Dbmin        1
C7sus4       1
Aadd13       1
Gsdim7       1
Name: count, Length: 65, dtype: int64

In [33]:
taylor.isna().sum()

id       0
time     0
chord    0
root     0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
dtype: int64

In [34]:
taylor['id'].value_counts().sort_values(ascending = False)

id
270242    1411
328244    1374
408512     274
407678     236
639719     234
          ...
219682      29
577337      28
46348       23
385586      14
133299      12
Name: count, Length: 185, dtype: int64

The data we are using in this analysis is the Chordonomicon dataset which consists of data from 666,000 songs and their corresponding chord progressions. The dataset also contains additional information such as release date, decade, genre, and Spotify song and artist IDs. In our particular analysis, we are limiting our search to music by Taylor Swift, but the original dataset contains information from many artists. The purpose of this project is to create a chord generator using Taylor Swift's chord data and generate a sequence of chords that sound similar to a Taylor Swift song. For the purposes of our project, we are using the "taylor" dataframe that lists all of the individual chord progressions over time per song. The data is updated as of 12/3/24, so not all of Taylor Swift's music is in this dataset. While recent releases from her discography are technically missing in the Chordonomicon data, there is still plenty of data present for us to work with. However, more data is better when creating a chord generator in this scenario, so the lack of current Taylor Swift music data could impact our analysis. When determining the presence of missing data from the existing dataset, we found missing values in the "swift" dataset for the columns release_date, decade, rock_genre, and spotify_song_id. Because none of these columns are used in the "taylor" dataset which will be used to create the chord generator, we are not concerned with the presence of these missing values. We did not find any missing values for the "taylor" dataframe that contains the chord information to be used in our analysis. 

The Chordonomicon dataset was collected by Spyridon Kantarelis, Konstantinos Thomas, Vassilis Lyberatos, Edmund Dervakos, and Giorgos Stamou from the Artificial Intelligence and Learning Systems Laboratory at the National Technical University of Athens, Greece. These researchers used web scraping to retrieve chord information from the Ultimate Guitar platform. They performed data engineering with the help of music experts to appropriately refine the chords. They also used the Spotify Web API to pull additional data regarding release date, genre, song ID, and artist ID.

The researchers describe the importance of chord progressions as the "backbone of musical composition", and they saught to generate a large-scale dataset that can be used for advanced machine learning. They collected this data because they noted that chord progression, while vital to music composition, is a very underexplored area of research. There are limited datasets currently in existence as collectors are restricted by copyright laws, lack of audio availability, distribution, and bias. The datasets that do exist at this time are not large enough for the work that this team is interested in. Their solution, the Chordonomicon dataset, has more than twenty times the amount of chord progressions than the previous largest dataset. Now that the data has been collected by this team, the researchers performed experiments on chord prediction and decade and genre classification.

## Citation

@article{kantarelis2024chordonomicon, title={CHORDONOMICON: A Dataset of 666,000 Songs and their Chord Progressions}, author={Kantarelis, Spyridon and Thomas, Konstantinos and Lyberatos, Vassilis and Dervakos, Edmund and Stamou, Giorgos}, journal={arXiv preprint arXiv:2410.22046}, year={2024} }